@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
body, html{
	height:100%;
	margin:0;
	font-size:16px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #352e2e;
}
.row{
    max-width: 1180px;
    margin: 0 auto 1px;
    background-color: rgb(29, 27, 27);
   
}
.logo{
    height: 80px;
    width: auto;
    /* float: left; */
    margin-top: 1px;
}
.main-nav{
    float: right;
    margin-top: 20px;
    margin-left: 150px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
    
}
.main-nav li a{
    padding: 5px 0;
    color: rgb(245, 250, 243);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200px;
    font-size: 90%;
}
.main-nav li a:hover
{
    border-bottom: 5px;
}



.bgheader{
    z-index: -1;
    opacity: 0.7;
    width: 100%;
}
.ccontainer {
    position: relative;
    text-align: center;
    color: rgb(8 7 7);
  }
.centered {
      font-size: 40px;
	text-shadow: 2px 2px #ff0000;
    position: absolute;
	font-weight: 500;
	font-family: 'Playfair Display', serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.top-right {
      font-size: 22px;
      font-weight: 10;
      color: black;
    position: absolute;
    top: 10px;
    right: 50%;

  }
  .about
{    position: relative;
    font-size: 1em;
    font-weight: 1em;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin: 100px;
    color: rgb(36, 32, 32);

}
/* footer */
.footer{
    background:rgb(41, 40, 40);
    color: rgb(206, 192, 192);
    text-align: center;
}
.footer-container{
    width: 85vw;
    margin: 0 auto;
    padding: 30px 0;
}
.footer-container p, .footer-container a, .footer-container span{
    opacity: 0.8;
}
.footer a{
    display: block;
    color: #fff;
    text-decoration: none;
}
.social-icons{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.social-icons li{
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background: #2e2e2e;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
}
.social-icons li:hover{
    background: #fff;
    color: #1d1c1c;
}
.contact-item span{
    display: block;
}
@media(min-width: 900px){
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media(min-width: 1170px){
    .footer{
        text-align: left;
    }
    .footer-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-container div:nth-child(1) p{
        padding-right: 20px;
    }
    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
}

.showModal{
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}
